<!DOCTYPE html>
<html lang="en"> <!-- Set this to the main language of your site -->
<head>
    <meta charset="utf-8">

    <title>AudioMotion</title>

    <!-- Enter a brief description of your page -->
    <meta name="description" content="">

    <!-- Define a viewport to mobile devices to use - telling the browser to assume that the page is as wide as the device (width=device-width) and setting the initial page zoom level to be 1 (initial-scale=1.0) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Include the site stylesheet -->
    <link rel='stylesheet' href='/static/stylesheets/styles.css'>
    <script src="/static/javascripts/jquery.min.js"></script>
    <script src="/static/javascripts/two.min.js"></script>
    <script src="/static/javascripts/timbre.min.js"></script>
    <script src="/static/javascripts/app.js"></script>

</head>
<body>
    <div id='two'>
    </div>
</body>
</html>